.social-signup-btn{
    display: flex;
    gap: 2rem;
    flex-direction: column;
}

.social-signup-btn button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem 0;
    border: 1px solid #3C4242;
    background: transparent;
    border-radius: 0.5rem;
    cursor: pointer;
    color: #8A33FD;
    text-align: center;
    font-family: Causten;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.signup-form{
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    gap: 2rem;
}

.signup-form input{
    padding: 1.5rem;
    border-radius: 8px;
    border: 1px solid #3C4242;
}